.container {
  margin-top: 15px;
}

.container h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.product-title {
  text-align: center;
}

.product-content {
  text-align: center;
  font-size: 25px;
  margin-top: 60px;
  color: gold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card {
  padding-bottom: 25px;
  margin: 10px;
}

.wish-icon {
  background-color: black;
  position: absolute;
  font-size: 30px;
  color: white;
  margin: 3px 3px;
  border-radius: 0 0 100px 100px;
  cursor: pointer;
  padding: 5px;
}
